<configuration>
    <include resource="masking-logback.xml"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %X{x-header-to-log:-} %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <property name="ENABLE_MASKER" value="true"/>
    <property name="DEFAULT_MASKER" value="json"/>
    <property name="PROPS_PROVIDER" value="spring"/>
    <property name="LOGGER_TO_INCLUDE" value="me.maxhub.include1, me.maxhub"/>
    <property name="LOGGER_TO_IGNORE" value="me.maxhub.ignore1"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
