target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.settings/
.project
.classpath
.factorypath
!**/.project
!**/.classpath
!**/.factorypath
!**/.settings/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

logs/
!**/logs/
*.log
