<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration>-->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    <import class="me.maxhub.logging.logback.encoder.MaskingJsonEncoder"/>
    <import class="ch.qos.logback.core.testUtil.DummyEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <outputPatternAsHeader>true</outputPatternAsHeader>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %X{x-header-to-log:-} %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>-->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>

        </encoder>
<!--        <encoder class="JsonEncoder"/>-->
    </appender>

    <appender level="info" name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="me.maxhub.logging.logback.filter.LoggerNameFilter">
            <include>me.maxhub</include>
            <ignore>me.maxhub.mcb.stmts.Main</ignore>
<!--            <ignore>me.maxhub.mcb.stmts.Bober</ignore>-->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>3MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="MaskingJsonEncoder">
            <enableMasker>false</enableMasker>
            <defaultMasker>xml</defaultMasker>
<!--            <propertiesProvider>spring</propertiesProvider>-->
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
